DATABASE_URL=postgresql://postgres:yourpassword@localhost:5436/order_service_db
SECRET_KEY=your-secret-key-change-this-later
ALGORITHM=HS256
PRODUCT_SERVICE_URL=http://localhost:8002
CART_SERVICE_URL=http://localhost:8003
INTERNAL_API_KEY=changeme